[defaults]
inventory = ./inventory.yml, ./proxmox.yml
roles_path = ./roles
vault_password_file = ~/.vault_pass.txt
host_key_checking = False
interpreter_python = auto_silent

[ssh_connection]
ssh_args = -o ForwardAgent=yes -o ControlMaster=auto -o ControlPersist=60s
