# NetBox Dynamic Inventory Plugin
plugin: netbox.netbox.nb_inventory
api_endpoint: "{{ lookup('env', 'NETBOX_URL') }}"
token: "{{ lookup('env', 'NETBOX_TOKEN') }}"
validate_certs: false

# Options for host grouping and variable mapping
config_context: true
group_by:
  - device_roles
  - tags
  - sites

# Map NetBox primary IP to ansible_host
compose:
  ansible_host: primary_ip4.address | default('') | regex_replace('/.*', '')
