# ![S3ntin3l8 Logo](https://raw.githubusercontent.com/{{ github_username | default('s3ntin3l8') }}/ansible-playbooks/main/assets/logo-128.png)

**Deployment Summary:**
- **Hostname:** {{ lxc_hostname }}
- **Type:** {{ lxc_type | default('generic') | upper }}
- **Provisioner:** Ansible
- **Deployed:** {{ lookup('pipe', 'date "+%Y-%m-%d %H:%M:%S"') }}
- **Repository:** [ansible-playbooks](https://github.com/{{ github_username | default('s3ntin3l8') }}/ansible-playbooks)
