#cloud-config
hostname: {{ vm_name }}
manage_etc_hosts: true

users:
  - default
  - name: ansible
    uid: 1001
    groups: sudo
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      - {{ ansible_pubkey }}

ssh_pwauth: false

package_upgrade: true

packages:
  - qemu-guest-agent

runcmd:
  - systemctl enable --now qemu-guest-agent
